<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Banque</title>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" />
</head>

<body>
<div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" th:href="@{/}" style="color: #1f2537;">
                <i class="menu-icon mdi mdi-bank"></i>
                Banque
            </a>
            <a class="navbar-brand brand-logo-mini" th:href="@{/}">
                <img th:src="@{/images/logo-mini.svg}" alt="logo" />
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <div class="nav-link">
                        <a th:href="@{/}" class="btn btn-success btn-block">Home
                            <i class="mdi mdi-home"></i>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-human"></i>
                        <span class="menu-title">Clients</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic1">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/client">Clients List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/addclient">Add Client</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-chart-bar"></i>
                        <span class="menu-title">Employees</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/employee">Employees List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/addemployee">Add employee</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-group"></i>
                        <span class="menu-title">Employee Groups</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic2">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/group">Groups List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/addgroup">Add Group</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="main-panel">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td>Numero Groupe</td>
                        <td>Nom Groupe</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="g : ${groups}">
                        <td th:text="${g.codeGroupe}"></td>
                        <td th:text="${g.nomGroupe}"></td>
                        <td>
                            <a th:href="@{'/group/'+ ${g.codeGroupe}}" class="btn btn-primary">Group Members</a>
                            <a th:href="@{'/addempgroup/'+ ${g.codeGroupe}}" class="btn btn-primary">Add Employee</a>
                        </td>
                        <td>
                            <button th:attrappend="data-target=${g.codeGroupe}" class="btn btn-primary" data-toggle="modal" data-target="#e_model" data-whatever="@getbootstrap">Modifier</button>
                            <a th:href="@{'/deletegroup/'+ ${g.codeGroupe}}" class="btn btn-primary">Delete</a>
                        </td>
                        <td>
                            <div class="modal fade" th:attrappend=" id=${g.codeGroupe}"  id="e_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modifier Employee</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form class="form-sample modal-content" th:action="@{'/updategroup/'+ *{codeGroupe}}" th:object="${g}" method="post">

                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="nomGroupe" class="form-label mt-4">Nom</label>
                                                    <input type="text" name="nomGroupe" class="form-control" th:value = "*{nomGroupe}" id="nomGroupe">
                                                </div>
                                                <div class="modal-footer">
                                                    <button th:href="@{'/updategroup/'+ ${g.codeGroupe}}" type="submit" class="btn btn-primary">Submit</button>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button><br>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/misc.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>


</body>
</html>