<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Banque</title>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" />
</head>

<body>
<div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" th:href="@{/}" style="color: #1f2537;">
                <i class="menu-icon mdi mdi-bank"></i>
                Banque
            </a>
            <a class="navbar-brand brand-logo-mini" th:href="@{/}">
                <img th:src="@{/images/logo-mini.svg}" alt="logo" />
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <div class="nav-link">
                        <a th:href="@{/}" class="btn btn-success btn-block">Home
                            <i class="mdi mdi-home"></i>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-human"></i>
                        <span class="menu-title">Clients</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic1">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/client">Clients List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/addclient">Add Client</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-chart-bar"></i>
                        <span class="menu-title">Employees</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/employee">Employees List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/addemployee">Add employee</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-group"></i>
                        <span class="menu-title">Employee Groups</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic2">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/group">Groups List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/addgroup">Add Group</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="main-panel">
        <h3 th:text="${compte.codeCompte}"></h3>
            <a th:href="@{'/accountview/'+ ${compte.client.codecli}}" class="link-primary "> Go Back</a>
            <a th:href="@{'/addoperation/'+ ${compte.codeCompte}}" class="link-secondary">Add Operation</a>
            <div class="alert alert-success alert-dismissible" role="alert" th:text="${success}" th:if="${success}"></div>
            <div class="alert alert-danger alert-dismissible" role="alert" th:text="${error}" th:if="${error}"></div>
            <h4>Retrait</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Numero Operation</td>
                    <td>Montant</td>
                    <td>Code Employee</td>
                    <td>Date Operation</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="o : ${operationsR}">
                    <td th:text="${o.numeroOperation}"></td>
                    <td th:text="${o.montant}"></td>
                    <td th:text="${o.employee.code_emp}"></td>
                    <td th:text="${o.dateOperation}"></td>
                    <td>
                    <a th:href="@{'/deleteoperation/'+ ${o.numeroOperation}}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <h4>Versement</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Numero Operation</td>
                    <td>Montant</td>
                    <td>Code Employee</td>
                    <td>Date Operation</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="o : ${operationsV}">
                    <td th:text="${o.numeroOperation}"></td>
                    <td th:text="${o.montant}"></td>
                    <td th:text="${o.employee.code_emp}"></td>
                    <td th:text="${o.dateOperation}"></td>
                    <a th:href="@{'/deleteoperation/'+ ${o.numeroOperation}}" class="btn btn-danger btn-sm">Delete</a>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/misc.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>


</body>
</html>